body {
  row-gap: 1em;
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.checkout-content {
  display: grid;
  gap: 1em;
  background-color: white;
  border: 5px solid var(--darkgreen);
  border-radius: 1em;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1em;
  padding-bottom: 1em;
  height: calc(100% - 2em);
  color: var(--darkgreen);
  justify-content: center;
}

.checkout-product {
  grid-area: checkout-product;
  width: 37vw;
  text-align: center;
}

.checkout-product img {
  width: 20vw;
  min-width: 150px;
  height: auto;
}

.checkout-info {
  grid-area: checkout-info;
  width: 37vw;
}

.checkout-quantity {
  font-size: 78px;
  border: var(--darkgreen) 1px solid;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkout-button a {
  font-size: 37px;
  color: var(--darkgreen);
  text-decoration: none;
  display: inline-block;
  border: var(--darkgreen) 6px solid;
  padding: 10px 20px 10px 20px;
}

/* mobile styles */
@media only screen and (max-width: 640px) {
  .checkout-content {
    grid-template-areas:
      "checkout-product"
      "checkout-info";
  }

  .checkout-info {
    text-align: center;
  }

  .checkout-quantity {
    font-size: 40px;
  }
}

/*tablet styles*/
@media only screen and (min-width: 641px) and (max-width: 1366px) {
  .checkout-content {
    grid-template-areas:
      "checkout-product"
      "checkout-info";
  }

  .checkout-info {
    text-align: center;
  }

  .checkout-quantity {
    font-size: 78px;
  }
}

/*desktop styles*/
@media only screen and (min-width: 1367px) {
  .checkout-content {
    grid-template-areas: "checkout-product checkout-info";
  }

  .checkout-info {
    text-align: left;
  }

  .checkout-quantity {
    font-size: 78px;
  }
}
