body {
  row-gap: 1em;
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.product-content {
  display: grid;
  gap: 1em;
  background-color: white;
  border: 5px solid var(--darkgreen);
  border-radius: 1em;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1em;
  padding-bottom: 1em;
  height: calc(100% - 2em);
  color: var(--darkgreen);
  justify-content: center;
}

.product-display {
  grid-area: product-display;
  width: 37vw;
  text-align: center;
}

.product-display img {
  width: 20vw;
  min-width: 150px;
  height: auto;
}

.product-info {
  grid-area: product-info;
  width: 37vw;
}

.product-info ul {
  padding: 0px;
}

.product-info li {
  border: var(--darkgreen) 1px solid;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  display: inline-block;
}

.product-info li a {
  text-decoration: none;
  color: var(--darkgreen);
  font-weight: bold;
}

.product-quantity {
  border: var(--darkgreen) 1px solid;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-button {
  border: var(--darkgreen) 2px solid;
  padding: 5px;
  display: inline-block;
}

.product-button a {
  color: var(--darkgreen);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.product-button img {
  padding-left: 30px;
}

/* mobile styles */
@media only screen and (max-width: 640px) {
  .product-content {
    grid-template-areas:
      "product-display"
      "product-info";
  }

  .product-info {
    text-align: center;
  }

  .product-quantity {
    font-size: 40px;
  }

  .product-button a {
    font-size: 25px;
  }
}

/*tablet styles*/
@media only screen and (min-width: 641px) and (max-width: 1366px) {
  .product-content {
    grid-template-areas:
      "product-display"
      "product-info";
  }

  .product-info {
    text-align: center;
  }

  .product-quantity {
    font-size: 78px;
  }

  .product-button a {
    font-size: 37px;
  }
}

/*desktop styles*/
@media only screen and (min-width: 1367px) {
  .product-content {
    grid-template-areas: "product-display product-info";
  }

  .product-info {
    text-align: left;
  }

  .product-quantity {
    font-size: 78px;
  }

  .product-button a {
    font-size: 37px;
  }
}
